extends layout

block import
  link(rel=stylesheet href=title)
  
block content
  h1 Links on #{title}
  #main
  

  each link in links
    li
      code #{link.slug} 
      h5 #{link.title}
      p #{link.description}
